<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>
    <main class="main">
      <h1>Lista de libros que has leido</h1>
      <a href="/create" class="btn-create">Añadir Libro</a>
      
      <section class="cards">
        <% results.forEach((book)=>{ %>
          <article class="card">
            <img src="<%= book.cover %>" alt="">
            <h5 class="title">
              <%= book.title %>
            </h5>
            <p class="author">
              <%= book.author %>
            </p>
            <p class="year">
              <%= book.year %>
            </p>
          </article>
          <% }) %>
      </section>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>